#captcha-img{
cursor:pointer;
}
.inputWraper{
border:0!important;
}
.inputWraper input{
border:1px solid #ccc!important;
}
.bs .btn{
width:auto!important;
height:auto!important;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset!important;
}
.tab_bg_l, .tab_bg_r{
visibility:hidden!important;
}
.guest-tishi{
display:none;
}
.score-buttons{
margin:6px;
float:left;
display:block;
}
#searchBox{
text-align:left!important;
margin-left:30px!important;
}
.pingot{
margin-left:20px;
}